<!DOCTYPE html>
<html>
  <head>
    <title>Hotcoin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>

  <body>
    <nav class='nav'>
      <div class='hero-text'>
        <i class="em em-fire"></i> 
        <i class="em em-fire"></i> 
        <i class="em em-fire"></i> 
        <div class='title'> Hot Coin </div>
        <i class="em em-fire"></i>
        <i class="em em-fire"></i>
        <i class="em em-fire"></i>
      </div>
    </nav>
  <div class='body-wrap'>
    <div class="coin_search">
      <%= form_tag("/", method: "get", placeholder: 'XRP') do %>
      <div class='stack'>
        <%= label_tag(:q, "Coin Hotness") %>
      </div>
      <div class='search_box'>      
        <%= text_field_tag(:q) %>
      </div>
      <div class='stack'>            
        <%= submit_tag("Search Twitter") %>
      </div>
      <% end %>
    </div>
      <div class='labels'>
        <div class='BTC'> BTC</div>
        <div class='XRP'> XRP</div>
        <div class='ETH'> ETH</div>
      </div>
    <div class='circles'>
      <div class='first-circle'>
      </div>
        <div class='second-circle'>
      </div>
        <div class='third-circle'>
      </div>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
